.task-editor-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.task-editor__input--title {
    grid-column: 1;
    grid-row: 1;
}

.task-editor__input--person {
    grid-column: 2;
    grid-row: 1;
}

.task-editor__input--description {
    grid-column: 1/3;
    grid-row: 2;
}

.task-editor__input--deadline {
    grid-column: 3;
    grid-row: 1;
}

.task-editor__btn {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #ed7868;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all .2s linear;
}

@media screen and (max-width: 768px) {
    .task-editor__btn {
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    .task-editor-form {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }

    .task-editor__input--title {
        grid-column: 1;
        grid-row: 1;
    }
    
    .task-editor__input--person {
        grid-column: 2;
        grid-row: 1;
    }
    
    .task-editor__input--description {
        grid-column: 1/-1;
        grid-row: 2;
    }
    
    .task-editor__input--deadline {
        grid-column: 1;
        grid-row: 3;
    }

    .task-editor__btn {
        grid-column: 2;
        grid-row: 3;
    }
}

@media screen and (max-width: 425px) {
    .task-editor-form {
        grid-template-columns: 1fr;
        grid-gap: 10px 0;
    }

    .task-editor__input--title {
        grid-column: 1;
        grid-row: 1;
    }
    
    .task-editor__input--person {
        grid-column: 1;
        grid-row: 2;
    }
    
    .task-editor__input--description {
        grid-column: 1;
        grid-row: 3;
    }
    
    .task-editor__input--deadline {
        grid-column: 1;
        grid-row: 4;
    }

    .task-editor__btn {
        grid-column: 1;
        grid-row: 5;
    }
}