.task-list__item {
    background-color: #fff;
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-list {
    height: 50vh;
    overflow-y: scroll;
}

.task-info__item {
    font-weight: bold;
    margin-right: 5px;
    font-size: 18px;
}

.task-info__item--title {
    margin-right: 0;
}

.task-info__item--description {
    display: none;
}

.task-info__item--description-shown {
    display: block;
}

.task-btns {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.task-info__btn {
    width: 100%;
    max-width: 70px;
    height: 30px;
    border-radius: 20px;
    border: none;
    box-shadow:  0 0 5px rgba(0,0,0,.3);
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all .2s linear;
}

.task-info__btn:hover {
    transition: all .2s linear;
    background-color: #f7a868;
}

.task-info__btn:active {
    background-color: #a64b3f;
}

.task-info__btn--delete {
    background-color: #f01d00;
}

.task-info__btn--done {
    background-color: #059817;
}

.task-info__btn--change {
    background-color: #f09b00;
}

.task-info__btn--more {
    background-color: #2f8bc1;
}

.task-info--done {
    text-decoration: line-through
}

@media screen and (max-width: 768px) {
    .task-info__btn {
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        margin-top: 10px;
    }

    .task-info__item {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .task-list__item {
        flex-direction: column;
        align-items: center;
    }

    .task-btns {
        max-width: none;
        justify-content: space-around;
    }

    .task-info__btn {
        width: 100%;
        max-width: 90px;
        min-width: 45px;
        margin-right: 5px;
    }

    .task-info__btn:last-of-type {
        margin-right: 0;
    }
}